<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="menu">
            <a th:href="@{/adm/pesquisar-usuario}" class="ativo">Cadastrar a divida</a>
            <a th:href="@{/adm/cadastrar-cliente}">Cadastrar cliente</a>
            <a th:href="@{/adm/perfil}">Perfil</a>
        </div>

        <div class="lista-clientes">
            <h1 class="tituloForm">
                Histórico do: <span class="nome-cliente" th:text="${cliente.nome}"></span>
            </h1>
            <div class="card-historico">
                <h2 class="tituloCard">Total a pagar: <span class="tituloCard" th:text="${totalDivida != 0 ? 'R$ ' + totalDivida : 'Cliente não esta devendo'}"></span></h2>
            </div>
            <div class="card-historico" th:each="divida : ${dividas}">
                <div class="info-cliente">
                    <span class="valor">
                        R$ <span th:text="${divida.valor}"></span></span>
                    <span class="valor">Data: <span th:text="${#temporals.format(divida.data, 'dd/MM/yyyy HH:mm')}"></span></span>
                    <span class="valor">Status: <span th:text="${divida.status}" th:class="${divida.status == 'PAGO' ? 'abatimento' : 'divida'}">PAGO</span></span>
                </div>
            </div>
        </div>
        <a th:href="@{/adm/pesquisar-usuario}" class="btn-voltar">voltar</a>

    </div>
</body>

</html>