<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="menu">
            <a  href="/adm/pesquisar-usuario">Cadastrar a divida</a>
            <a  href="/adm/cadastrar-cliente">Cadastrar cliente</a>
            <a  href="/adm/perfil" class="ativo">Perfil</a>
        </div>

        <div class="formCentralizado">

            <h2 class="tituloForm">Perfil</h2>

            <form>
                
                <label>Nome:</label>
                <p class="labelPerfil">sdsds</p>

                <label>Telefone:</label>
                <p class="labelPerfil">sdsds</p>

                <label>Email:</label>
                <p class="labelPerfil">sdsd</p>

                <label>Senha:</label>
                <p class="labelPerfil">dsds</p>

                <a href="/adm/perfil/editar" class="btn">Editar</a>

                <a href="/adm/sair" class="btn">Sair</a>

            </form>

        </div>
    </div>


</body>
</html>