<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="menu">
            <a th:href="@{/}" >Dashboard</a>
            <a th:href="@{/historico}">Histórico </a>
            <a th:href="@{/perfil}" class="ativo">Perfil</a>
        </div>

        <div class="formCentralizado">

            <h2 class="tituloForm">Perfil</h2>

            <form method="post"  th:action="@{/perfil/editar}">

                <label>Nome:</label>
                <input type="text" th:value="${cliente.apelido}" name="nome">

                <label>Telefone:</label>
                <input type="text" th:value="${cliente.telefone}" name="telefone">

                <label>Email:</label>
                <input type="text" th:value="${cliente.email}" name="email">

                <label>Senha:</label>
                <input type="text" th:value="${cliente.senha}" name="senha">

                <button class="button" type="submit">Salvar</button>

            </form>

        </div>
    </div>


</body>
</html>