<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="menu">
            <a th:href="@{/}" >Dashboard</a>
            <a th:href="@{/historico}" class="ativo">Histórico </a>
            <a th:href="@{/perfil}" >Perfil</a>
        </div>


        <div class="lista-clientes">
            <div class="container-boas-vindas">
                <h1 class="titulo-boas-vindas">
                    Histórico de <span>Gabriel</span> 📜
                </h1>
                <p class="subtitulo-boas-vindas">
                    Veja todas as movimentações financeiras
                </p>
            </div>
            <div class="card-historico" th:each="cliente : ${clientes}">
                <div class="info-cliente">
                    <span class="valor">R$ 100,00</span>
                    <span class="valor">Data: 10/9/2022</span>
                    <span class="valor abatimento"> Status: Abatimento</span>
                </div>
            </div>
            <div class="card-historico" th:each="cliente : ${clientes}">
                <div class="info-cliente">
                    <span class="valor">R$ 100,00</span>
                    <span class="valor">Data: 10/9/2022</span>
                    <span class="valor divida"> Status: divida</span>
                </div>
            </div>
        </div>
        <a th:href="@{/}" class="btn-voltar">voltar</a>

    </div>
</body>

</html>