<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>

    <div class="container">
        <div class="menu">
            <a th:href="@{/}">Dashboard</a>
            <a th:href="@{/historico}">Histórico </a>
            <a th:href="@{/perfil}" class="ativo">Perfil</a>
        </div>
        <div class="formCentralizado">

            <h2 class="tituloForm">Perfil</h2>

            <form>
                <label>Nome:</label>
                <p class="labelPerfil" th:text="${cliente.apelido}"></p>

                <label>Telefone:</label>
                <p class="labelPerfil" th:text="${cliente.telefone}"></p>

                <label>Email:</label>
                <p class="labelPerfil" th:text="${cliente.email}">sdsd</p>

                <label>Senha:</label>
                <p class="labelPerfil" th:text="${cliente.senha}">dsds</p>

                <a th:href="@{/perfil/editar}" class="btn">Editar</a>

                <a th:href="@{/sair}" class="btn">Sair</a>
            </form>
        </div>
    </div>


</body>

</html>