<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div class="CardLogin">

        <h2 class="tituloForm">Faça seu login:</h2>

        <form>
            <label>Email:</label>
            <input type="text">

            <label>Senha:</label>
            <input type="text">

            <button class="button" type="submit">Logar</button>

        </form>

    </div>
</body>
</html>