<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <div class="menu">
            <a  href="pesquisar.html">Cadastrar a divida</a>
            <a  href="cadastrarCliente.html">Cadastrar cliente</a>
            <a class="ativo" href="perfil.html">Perfil</a>
        </div>

        <div class="formCentralizado">

            <h2 class="tituloForm">Perfil</h2>

            <form>
                
                <label>Nome:</label>
                <p class="labelPerfil">sdsds</p>

                <label>Telefone:</label>
                <p class="labelPerfil">sdsds</p>

                <label>Email:</label>
                <p class="labelPerfil">sdsd</p>

                <label>Senha:</label>
                <p class="labelPerfil">dsds</p>

                <a href="editarPerfil.html" class="btn">Editar</a>

                <a href="editarPerfil.html" class="btn">Sair</a>

            </form>

        </div>
    </div>


</body>
</html>