<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Cadastrar divida</title>
</head>

<body>
    <ul class="nav nav-tabs justify-content-sm-center">
        <li class="nav-item">
            <a class="nav-link " href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/dividas" aria-current="page">Cadastrar divida</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/listarDivida">Listar Divida</a>
        </li>
    </ul>

    <h1 class="display-4 fw-bold text-body-emphasis fs-2 pt-2">Cadastre a divida</h1>
    <form class="container" method="post" action="/dividas" >
        <div class="mb-3">
            <label for="inputValor" class="form-label">Valor</label>
            <input type="text" class="form-control" id="inputValor" name="valor">
        </div>


        <button type="submit" class="btn btn-primary">Cadastrar</button>

    </form>
</body>

</html>